nav{
    margin: auto;
    width: 50%;
}
li{
    display: inline;
    margin-right: 20px;
}

a{
    /*text-decoration: none;*/
    color: red;
}

.menupic{
    margin: 20px;
    width: 200px
}

.menupicborder{
    border: 1px solid black;
    margin: auto;
    width: 50%;
}