nav{
    margin: auto;
    width: 50%;
}
li{
    display: inline;
    margin-right: 20px;
}

a{
    /*text-decoration: none;*/
    color: red;
}

.menupic{
    margin: 20px;
    width: 200px
}

.menupicborder{
    border: 1px solid black;
    margin: auto;
    width: 50%;
}

figure{
    width: 300px;
    float: left;
}

.inlogFrom {
    width: 200px;
    float: right;
    margin-top: 10px;
}

.btn {
    color: red;
    margin-right: 10px;
}

